.container-ind{
    margin:0 auto;
    max-width: 940px;
    padding:20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .artist-overview{
    font-family: 'Roboto', sans-serif;
} */

.container-dec{
    padding:20px;
    max-width: 800px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px;
}

.heading {
    letter-spacing: 0.2em;
    font-size: 20px !important;
}